<%- include('./partials/start.ejs') %>
  <div class="main-panel">
    <div class="content-wrapper">
      <div class="row d-flex justify-content-center">
        <div class="col-md-6 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Add Movie</h4>
              <form action="/admin/add-movie" method="post" enctype="multipart/form-data" class="forms-sample">
                <div class="form-group">
                  <label for="name">Movie Name</label>
                  <input type="text" class="form-control" id="name" name="name"
                    placeholder="Eg: Zindagi Na Milegi Dobara">
                </div>
                <div class="form-group">
                  <label for="genre">Genre</label>
                  <select class="form-control" id="genre" name="genre">
                    <option value="">Select Genre</option>
                    <option value="Action">Action</option>
                    <option value="Adventure">Adventure</option>
                    <option value="Comedy">Comedy</option>
                    <option value="Crime-Mystery">Crime & Mystery</option>
                    <option value="Drama">Drama</option>
                    <option value="Horror">Horror</option>
                    <option value="Romance">Romance</option>
                    <option value="Sci-Fi">Science Fiction (Sci-Fi)</option>
                    <option value="Thriller-Suspense">Thriller & Suspense</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="file">Movie Cover</label>
                  <input type="file" id="file" name="file" class="form-control"  accept="image/*">
                </div>
                <div class="form-group">
                  <label for="date">Release Date</label>
                  <input type="date" class="form-control" name="date" id="date">
                </div>
                <div class="form-group">
                  <label for="rating">Rating</label>
                  <select class="form-control" id="rating" name="rating">
                    <option value="">Select Rating</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="desc">Description</label>
                  <textarea class="form-control" name="desc" id="desc"></textarea>
                </div>
                <button type="submit" class="btn btn-primary mr-2">Submit</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%- include('./partials/end.ejs') %>