@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Bebas Neue", sans-serif;
}

body {
    font-family: 'Inter', sans-serif;
    background: #ffffff;
    color: #111;
}

header {
    padding: 20px 6%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav-links {
    display: flex;
    gap: 40px;
    font-size: 20px;
    letter-spacing: 3px;
}

.nav-links a {
    position: relative;
    text-decoration: none;
    color: #111;
    padding: 6px 2px;
}

.nav-links a::after {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    width: 0;
    height: 1.5px;
    background: #111;
    transition: width 0.35s ease;
}

.nav-links a:hover::after {
    width: 100%;
    text-decoration: line-through;
}

.logo {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    text-align: center;
    font-size: 20px;
    letter-spacing: 2px;
}

.gallery {
    padding: 30px 4% 30px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 260px);
    justify-content: center;
    gap: 40px;
}

.poster {
    width: 260px;
    height: 420px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    animation: fadeUp 1s ease forwards;
}

.poster img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transition: transform .6s ease;
}

.poster:hover img {
    transform: scale(1.08);
}

.poster::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 35%;
    background: linear-gradient(
        to top,
        rgba(255, 255, 255, 1),
        rgba(255, 255, 255, 0)
    );
    pointer-events: none;
    z-index: 1;
}

.poster:hover::after {
    opacity: 1;
}


.poster:hover::after {
    opacity: 1;
}

.poster-title {
    position: absolute;
    bottom: 30px;
    left: 25px;
    z-index: 2;
    color: black;
}

.poster:hover .poster-title {
    opacity: 1;
    transform: translateY(0);
}

.poster-title h3 {
    font-family: 'Playfair Display', serif;
    font-size: 24px;
    margin-bottom: 5px;
}

.poster-title span {
    font-size: 13px;
    letter-spacing: 2px;
    opacity: .8;
}

@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(40px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Responsive design */
@media (max-width: 768px) {
    header {
        flex-direction: column;
        gap: 20px;
    }

    .gallery {
        grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
        gap: 20px;
    }

    .poster {
        width: 100%;
        height: auto;
    }

    .poster img {
        height: 300px;
    }
}